.container {
  height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #27272c;
  border-radius: 20px;
  padding: 10px 20px;
  /* background-color: #fdc11f; */
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #27272c;
  margin-bottom: 50px;
}

/* Animasi slide-in */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Elemen dalam keadaan default (tidak terlihat) */
.slide-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 1s ease;
}

/* Elemen terlihat jika ada kelas 'active' */
.slide-in.active {
  opacity: 1;
  transform: translateY(0);
}
